.main-container{
    padding: 0;
    max-width: 720px;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.25);
    margin: 0 auto;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    width: 100%;
}

//media query
@media only screen and (max-width: 720px) {
    .main-container {
        width: 100%;
        max-width: 100%;
    }
}


@media only screen and (max-width: 520px) {
    .main-container {
        width: 100%;
        max-width: 100%;
    }

}

@media only screen and (max-width: 424px) {
    .main-container {
        width: 100%;
        max-width: 100%;
    }

}


@media only screen and (max-width: 375px) {
    .main-container {
        width: 100%;
        max-width: 100%;
    }

}

@media only screen and (max-width: 360px) {
    .main-container {
        width: 100%;
        max-width: 100%;
    }

}