.pre-cleaning-modal{
    background: #FFFFFF;
    padding-bottom: 0;
    border-radius: 20px;
    width: 520px !important;
    margin-bottom: 80px;
}



.ant-modal-content{
    // background: #FFFFFF;
    box-shadow: 0px 0px 30px #979CA3;
    border-radius: 20px;
    width: 100%;
}



.ant-modal-body{
    // background: #FFFFFF;
    box-shadow: 0px 0px 30px #979CA3;
    border-radius: 20px;
}

.ant-modal-body.availableModal{
    width: 585px !important;
  top: -110px;
  margin-bottom: 100px;
//   border-radius: 20px;
  
}

.ant-checkbox-inner,
.ant-checkbox-inner:hover,
.ant-checkbox-inner:focus{
    border: 1.5px solid #F2600D;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(255, 117, 39, 0.5);
    border-radius: 5px;
    width: 31px !important;
    height: 31px !important;
}



.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner:hover,
.ant-checkbox-checked .ant-checkbox-inner:focus{
    background-color: #FFFFFF;
    width: 31px !important;
    height: 31px !important;
    border: 1.5px solid #F2600D !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(255, 117, 39, 0.5);
    border-radius: 5px;
}   
.ant-checkbox-checked .ant-checkbox-inner:after {
    width: 8px;
    height: 21px;
    border-color: #F2600D !important;
}

.button-cancel{
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    // display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F2600D;
    border: none;
    width: 201px;
    height: 43px;
    margin-right:10px;
    // justify-content: flex-end;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.button-cancel:hover{
    color: #F2600D;
    border-radius: 5px;
    border: 1px #F2600D solid;
}

.button-start:disabled{
    width: 201px;
    height: 43px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    float:left;
    margin-left:10px;
    margin-right:10px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #E5E5E5;
    border-radius: 5px;
    justify-content: center;
}

.button-start,
.button-start:hover{
    width: 201px;
    height: 43px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    float:left;
    margin-left:10px;
    // margin-right:10px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #F2600D;
    border-radius: 5px;
    justify-content: center;
    border: 1px #F2600D solid;
}

//added styles from cleaning modal
.checklist-header{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    color: #F2600D;
}

.checklist-subHeader{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.checklist-gate{
    font-weight: bold;
    font-size: 50px;
    line-height: 35px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 12px;
}

.checklist-colHeader {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.checklist-divider1{
    width: 473px;
    border: 2px solid #FF7527;
    margin: 0;
}

.checklist-divider2{
    width: 473px;
    border: 0.5px solid #FF7527;
    margin: 0;
}

.checklist-row {
    margin-top: 12px;
    margin-bottom: 12px;
}

.checklist-colText{
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.checklist-colText1{
    margin-left: 15px;
}

.checklist-colText2{
    margin-left: 20px;
}

.checklist-rowCheck {
    margin-left: 20px;
}

.checklist-rowAll {
    margin-top: 15px;
    margin-bottom: 15px;
}

.checklist-rowAllText {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 20px;
}

.checklist-buttonRow{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

//media
@media only screen and (max-width: 720px) {

    .pre-cleaning-modal{
        width: 85% !important;
    }
    
    .checklist-divider1{
        width: 100%;
    }

    .checklist-divider2{
        width: 100%;
    }
    
    .checklist-colHeader{
        text-align: center;
    }

    .checklist-colText{
        text-align: center;
    }

    .checklist-colText2{
        margin-left: 30px;
        margin-right: 20px;
    }

    .checklist-rowCheck {
        margin-left: 20px;
    }

    .button-cancel, 
    .button-start,
    .button-start:disabled,
    .button-start:hover {
        width: 100%;
        font-size: 20px;
    }
}

//media
@media only screen and (max-width: 520px) {

    .pre-cleaning-modal{
        width: 85% !important;
    }

    .checklist-header, 
    .checklist-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .checklist-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .checklist-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .checklist-colText{
        font-size: 13px;
    }
    
    .checklist-divider1{
        width: 100%;
    }

    .checklist-divider2{
        width: 100%;
    }
    
    .checklist-colHeader{
        text-align: center;
    }

    .checklist-colText{
        text-align: center;
    }

    .checklist-colText2{
        margin-left: 30px;
        margin-right: 0;
    }

    .checklist-rowCheck {
        margin-left: 0;
    }

    .checklist-rowAllText{
        font-size: 13px;
    }

    .checklist-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .button-cancel, 
    .button-start,
    .button-start:disabled,
    .button-start:hover {
        width: 100%;
        font-size: 13px;
    }
}

@media only screen and (max-width: 424px) {

    .pre-cleaning-modal{
        width: 85% !important;
    }

    .checklist-header, 
    .checklist-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .checklist-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .checklist-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .checklist-colText{
        font-size: 13px;
    }
    
    .checklist-divider1{
        width: 100%;
    }

    .checklist-divider2{
        width: 100%;
    }
    
    .checklist-colHeader{
        text-align: center;
    }

    .checklist-colText{
        text-align: center;
    }

    .checklist-colText2{
        margin-left: 30px;
        margin-right: 0;
    }

    .checklist-rowCheck {
        margin-left: 0;
    }

    .checklist-rowAllText{
        font-size: 13px;
    }

    .checklist-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .button-cancel, 
    .button-start,
    .button-start:disabled,
    .button-start:hover {
        width: 100%;
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px) {

    .pre-cleaning-modal{
        width: 85% !important;
    }

    .checklist-header, 
    .checklist-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .checklist-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .checklist-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .checklist-colText{
        font-size: 13px;
    }
    
    .checklist-divider1{
        width: 100%;
    }

    .checklist-divider2{
        width: 100%;
    }
    
    .checklist-colHeader{
        text-align: center;
    }

    .checklist-colText{
        text-align: center;
    }

    .checklist-colText2{
        margin-left: 30px;
        margin-right: 0;
    }

    .checklist-rowCheck {
        margin-left: 0;
    }

    .checklist-rowAllText{
        font-size: 13px;
    }

    .checklist-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .button-cancel, 
    .button-start,
    .button-start:disabled,
    .button-start:hover {
        width: 100%;
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {

    .pre-cleaning-modal{
        width: 85% !important;
    }

    .checklist-header, 
    .checklist-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .checklist-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .checklist-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .checklist-colText{
        font-size: 13px;
    }
    
    .checklist-divider1{
        width: 100%;
    }

    .checklist-divider2{
        width: 100%;
    }
    
    .checklist-colHeader{
        text-align: center;
    }

    .checklist-colText{
        text-align: center;
    }

    .checklist-colText2{
        margin-left: 30px;
        margin-right: 0;
    }

    .checklist-rowCheck {
        margin-left: 0;
    }

    .checklist-rowAllText{
        font-size: 13px;
    }

    .checklist-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .button-cancel, 
    .button-start,
    .button-start:disabled,
    .button-start:hover {
        width: 100%;
        font-size: 13px;
    }
}