@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Hind:500");

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $appBodyBackgroundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-logo {
  height: 40vmin;
  margin-top: 3em;
}

.App-layout {
  text-align: center;
  background-color: $appBodyBackgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $appColor;
  padding-bottom: 70px;
}

.Appbar {
  background: $appHeaderBackgroundColor;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  top: 0px;
  bottom: auto;
  position: fixed;
  width: 100%;
  max-width: $appMaxWidth;
  font-size: 26px;
  padding: 10px;
  z-index: 9;
  line-height: 19px;
}

.button-default {
  background: $appBodyBackgroundColor;
  border: 1px solid $appColor;
  box-sizing: border-box;
  /* Gray Shadow */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: $appColor;
  width: $maxButtonWidth;
  margin-right: 10px;
  font-size: 14px;
  transition-duration: .4s;
  transform-origin: center bottom 0px;
  transform: scale(1);

}
.button-default:hover {
  background: $appBodyBackgroundColor;
  border: 1px solid $appColor;
  color: $appColor;
}
.button-default:focus {
  background: $appBodyBackgroundColor;
  border: 1px solid $appColor;
  color: $appColor;
}

.button-atc {
  background: $appBodyBackgroundColor;
  border: 3px solid #3cefd8;
  box-sizing: border-box;
  /* Gray Shadow */
  box-shadow: 0px 0px 6px #26d1bb;
  border-radius: 25px;
  color: $appColor;
  width: $maxButtonWidth;
  margin-right: 10px;
  font-size: 14px;
  transition-duration: .4s;
  transform-origin: center bottom 0px;
  transform: scale(1);

}
.button-atc:hover {
  background: $appBodyBackgroundColor;
  border: 3px solid #3cefd8;
  color: $appColor;
}
.button-atc:focus {
  background: $appBodyBackgroundColor;
  border: 3px solid #3cefd8;
  color: $appColor;
}

.button-driver {
  background: $appBodyBackgroundColor;
  border: 3px solid #ffeb33;
  box-sizing: border-box;
  /* Gray Shadow */
  box-shadow: 0px 0px 5px #ffeb33;
  border-radius: 25px;
  color: $appColor;
  width: $maxButtonWidth;
  margin-right: 10px;
  font-size: 14px;
  transition-duration: .4s;
  transform-origin: center bottom 0px;
  transform: scale(1);

}
.button-driver:hover {
  background: $appBodyBackgroundColor;
  border: 3px solid #ffeb33;
  color: $appColor;
}
.button-driver:focus {
  background: $appBodyBackgroundColor;
  border: 3px solid #ffeb33;
  color: $appColor;
}

.button-match {
  background: #47486A;
  box-sizing: border-box;
  border: 3px solid #47486A;
  border-radius: 25px;
  color: $appColor;
  width: $maxButtonWidth;
  margin-right: 10px;
  font-size: 14px;
  transition-duration: .4s;
  transform-origin: center bottom 0px;
  transform: scale(1);
}
.button-match:hover {
  background: #47486A;
  border: 3px solid #47486A;
  color: $appColor;
}
.button-match:focus {
  background: #47486A;
  border: 3px solid #47486A;
  color: $appColor;
}

.driver-page-instruction-default {
  width: 300;
  height: 51px;
  border-radius: 30px;
  border: 1px solid #c4c4c4;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1em;
  transition-duration: .4s;
  transform-origin: center bottom 0px;
  transform: scale(1);
}

.pressed {
  transform: scale(0.9);
}


.driver-page-instruction-selected {
  width: 300;
  height: 51px;
  border-radius: 30px;
  border: 3px solid #1c60e6;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #1c60e6;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1em;
  transition-duration: .4s;
  transform-origin: center bottom 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.button-driver-infomodal,
.button-driver-infomodal:hover,
.button-driver:focus {
  top: 0px;
  background: $appBodyBackgroundColor;
  border: 3px solid #ffeb33;
  box-sizing: border-box;
  /* Gray Shadow */
  box-shadow: 0px 0px 5px #ffeb33;
  border-radius: 25px;
  color: $appColor;
  width: 210px;
  height: 45px;
  margin-right: 10px;
  margin-bottom: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
}

.button-atc-infomodal,
.button-atc-infomodal:hover,
.button-atc-infomodal:focus {
  top: 0px;
  background: $appBodyBackgroundColor;
  border: 3px solid #3cefd8;
  box-sizing: border-box;
  /* Gray Shadow */
  box-shadow: 0px 0px 6px #26d1bb;
  border-radius: 25px;
  color: $appColor;
  width: 210px;
  height: 45px;
  margin-right: 10px;
  margin-bottom: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  
}

.button-unavail-infomodal,
.button-unavail-infomodal:hover,
.button-unavail-infomodal:focus {
  top: 0px;
  background: #E5E5E5;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: $appColor;
  width: 141px;
  height: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: flex-end;
  float:left;
}

.button-cleaning-infomodal,
.button-cleaning-infomodal:hover,
.button-cleaning-infomodal:focus {
  top: 0px;
  background: #0066FF;
  box-sizing: border-box;
  border: 2px solid #0066FF;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: #FFFFFF;
  width: 141px;
  height: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float:left;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: flex-end;
}

.button-available-infomodal,
.button-available-infomodal:hover,
.button-available-infomodal:focus {
  top: 0px;
  background: #F2600D;
  box-sizing: border-box;
  border: 2px solid #F2600D;
  border-radius: 5px;
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: #FFFFFF;
  width: 141px;
  height: 30px;
  margin-top: 23px;
  margin-bottom: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float:left;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: flex-end;
  box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
}

.button-driver-infomodal-text,
.button-atc-infomodal-text,
.button-match-infomodal-text,
.button-required-infomodal-text {
  letter-spacing: 0.05em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  margin-left: 10px;
  color: #000000;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;

}

.ant-modal.infoAtcoModal {
  width: 585px !important;
  top: -110px;
  margin-bottom: 100px;
  
}

.infoAtcoModal .ant-modal-content input.ant-input:disabled{
  text-align: left;
}
.infoAtcoModal .ant-modal-content input.ant-input:hover{
  color:inherit;
}
 

.infoAtcoModal .ant-modal-content {
  width: 100%;
  height: 100%;
  /* left: 96px; */
  top: 163px;
  background: #F0F4FA;
  box-shadow: 0px 4px 20px #000000;
  border-radius: 20px;
  color: #ffffff;
  // padding-bottom: 40px;
}

.infoAtcoModal .ant-modal-close {
  color: #000000;
  
  height: 15px;
}

.infoAtcoModal .ant-modal-body {
  padding: 84px 40px 50px 40px;
}


.infoAtcoModal .anticon svg {

  width: 15px;
  height: 16px;
  // top: 10px;
  // right: 15px;
  position: relative;
  
}

.ant-modal.abort-modal {
  border: 3px solid #ff0000;
  padding-bottom: 0px;
}

.info-modal .ant-modal-content {
  border-radius: 15px;
}
.ant-col {
  float: none;
  display: block;
  vertical-align: bottom;
}

.info-modal .driver-modal-button-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.button-filterbygmc-infomodal,
.button-filterbygmc-infomodal:hover,
.button-filterbygmc:focus {
  top: 0px;
  background: #47486A;
  border: 3px solid #47486A;
  box-sizing: border-box;
  /* Gray Shadow */
  border-radius: 25px;
  color: $appColor;
  width: 210px;
  height: 45px;
  margin-right: 10px;
  margin-bottom: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.button-filterbylocation-infomodal,
.button-filterbylocation-infomodal:hover,
.button-filterbylocation:focus {
  top: 0px;
  background: #896E53;
  border: 3px solid #896E53;
  border-radius: 25px;
  color: $appColor;
  width: 210px;
  height: 45px;
  margin-right: 10px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

// readable
$desired-line-height: 24px;
$desired-height: 36px;
$text-offset: 2px;

// usable
$dlh: $desired-line-height;
$dh: $desired-height;
$to: $text-offset;

// coooolors
$light-grey: #eaf4f4;
$medium-grey: #7b9ea8;
$dark-grey: #7b9ea8;
$green: #26d1bb;

.ui-checkbox-btn {
  position: relative;
  display: inline-block;
  height: 36px;
  cursor: pointer;
  padding: (($dh - $dlh) / 2) ($dlh / 2);
  border-radius: $dh / 2; // overcompensate
  background-color: rgba(red, 0.6);

  input {
    display: none;
  } // turn off, but not forgotten

  .icon,
  .text {
    display: inline-block;
    vertical-align: top;
    color: inherit;
    cursor: pointer;
  }

  .text {
    font-size: 16px;
    line-height: $dlh - $to;
    padding-top: $to;
    padding-left: 4px;
    font-weight: bold;
  }

  // color states
  &.is-unchecked {
    background-color: transparent;
    color: $appColor;
    fill: $dark-grey;
  }

  &.is-checked {
    border: 1px solid #4f5074;
    background-color: #4f5074;
    color: white;
    fill: white;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: $dlh - 4;
  height: $dlh;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 16px;
    height: auto;
    fill: inherit;
  }

  .is-checked & {
    color: white;
    fill: white;
  }
}

// ping animation magic
.ui-btn-ping {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate3d(-50%, -50%, 0); // center center by default

  // set the square
  &:before {
    content: "";
    transform: scale(0, 0); // center center by default
    transition-property: background-color transform;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(white, 0.84);
  }

  .do-ping &:before {
    transform: scale(2.5, 2.5);
    transition-duration: 0.35s;
    background-color: rgba(white, 0.08);
  }
}

.driver-success-status {
  height: 48px;
  width: 300px;
  border-radius: 20px;
  background: #4BC996;
  color: #fff;
  line-height: 1em;
  padding-left: 15px;
  animation-name: status-stretch;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 4;
  animation-fill-mode: none;
  animation-play-state: running;
}

.infoAtcoModal .qsSearch-modal .anticon svg {
  display: inline-block;
  width: 23px;
  height: 23px;
  top: 4px;
  right: 0px;
  position: relative;
}

.infoAtcoModal .qsSearch-modal .anticon.anticon-search.ant-input-search-icon {
  display: none;
}

.infoAtcoModal.pbrhomemdal .ant-modal-content {
  width: 100%;
  height: 668px;
  /* left: 96px; */
  top: 163px;
  background: #1b1c28;
  box-shadow: 0px 4px 20px #000000;
  border-radius: 20px;
  color: #ffffff;
}



@keyframes status-stretch {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.ant-radio-button-wrapper {
  // width: auto;
  //added styles
  background-color: #f0f4fa;
  border: none;
}



.abort-modal.pulse-modal .ant-modal-body{
  animation: pulse-white 2.5s infinite;
}


@keyframes pulse-white {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}


//media query
@media only screen and (max-width: 720px) {
  .ant-modal.infoAtcoModal {
    width: 85% !important;
    
  }
}

@media only screen and (max-width: 520px) {
  .infoAtcoModal .ant-modal-body {
    padding: 46px 32px 10px 32px;
  }
  .ant-modal.infoAtcoModal {
    width: 95% !important;
  }
  .button-driver-infomodal-text,
  .button-atc-infomodal-text,
  .button-match-infomodal-text,
  .button-required-infomodal-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 424px) {
  .infoAtcoModal .ant-modal-body {
    padding: 46px 32px 10px 32px;
  }
  .ant-modal.infoAtcoModal {
    width: 95% !important;
  }
  .button-driver-infomodal-text,
  .button-atc-infomodal-text,
  .button-match-infomodal-text,
  .button-required-infomodal-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .infoAtcoModal .ant-modal-body {
    padding: 46px 32px 10px 32px;
  }
  .ant-modal.infoAtcoModal {
    width: 95% !important;
  }
  .button-driver-infomodal-text,
  .button-atc-infomodal-text,
  .button-match-infomodal-text,
  .button-required-infomodal-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .infoAtcoModal .ant-modal-body {
    padding: 46px 32px 10px 32px;
  }
  .ant-modal.infoAtcoModal {
    width: 95% !important;
  }
  .button-driver-infomodal-text,
  .button-atc-infomodal-text,
  .button-match-infomodal-text,
  .button-required-infomodal-text {
    font-size: 12px;
  }
}