$appHeaderBackgroundColor: #FFFFFF;
$appBodyBackgroundColor: #F0F4FA;

$appColor: #000000;
$maxButtonWidth: 125px;
$primaryColor: #26D1BB;
$iconColor: #434343;
$appBarBackgroundColor: #1C60E6;
$appMaxWidth: 720px;
$appRowHeight: 72px;
$boxShadow8dp : 0 8px 10px 1px rgba(0, 0, 0, .14),
0 3px 14px 2px rgba(0, 0, 0, .12),
0 5px 5px -3px rgba(0, 0, 0, .2);

$boxShadow16dp : 0 16px 24px 2px rgba(0, 0, 0, .14),
0 6px 30px 5px rgba(0, 0, 0, .12),
0 8px 10px -5px rgba(0, 0, 0, .2);

:export {
    appHeaderBackgroundColor: $appHeaderBackgroundColor;
    appBodyBackgroundColor: $appBodyBackgroundColor;
    maxButtonWidth: $maxButtonWidth;
    appMaxWidth: $appMaxWidth;
    appColor: $appColor;
    primaryColor: $primaryColor;
    boxShadow8dp: $boxShadow8dp;
    boxShadow16dp: $boxShadow16dp;
    iconColor: $iconColor;
    appRowHeight: $appRowHeight
}