.login-container{
    margin: 0 auto;
}

.form-container {
    width: 300px;
    margin: 0 auto;
}

.logo-container {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.app-logo{
    width: 507px;
    height: 100%;
}

.input {
    margin-bottom: 20px;
    border: 1px solid #83878D;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    height: 41px;
}

.btn-login{
    width: 100%;
    background-color: #0066FF;
    border: 1px solid #0066FF;
    font-size: 20px;
    height: 41px;
    border-radius: 5px;
}

.btn-login:hover{
    width: 100%;
    background-color: #0066FF;
    border: 1px solid #0066FF;
}

.btn-login:focus{
    width: 100%;
    background-color: #0066FF;
    border: 1px solid #0066FF;
}

//media query
@media only screen and (max-width: 480px) {
    .login-container {
        width: 100%;
        padding: 0 1em;
    }

    .form-container {
        width: 100%;
    }

    .app-logo{
        width: 100%;
    }
}

@media only screen and (max-width: 424px) {
    .login-container {
        width: 100%;
        padding: 0 1em;
    }

    .form-container {
        width: 100%;
    }

    .app-logo{
        width: 100%;
    }

    .btn-login{
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .login-container {
        width: 100%;
        padding: 0 1em;
    }

    .form-container {
        width: 100%;
    }

    .app-logo{
        width: 100%;
    }

    .btn-login{
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .login-container {
        width: 100%;
        padding: 0 1em;
    }

    .form-container {
        width: 100%;
    }

    .app-logo{
        width: 100%;
    }

    .btn-login{
        font-size: 15px;
    }
}