.cleaning-modal{
    background: #FFFFFF;
    padding-bottom: 0;
    border-radius: 20px;
    width: 520px !important;
}


.ant-modal-content{
    // background: #FFFFFF;
    box-shadow: 0px 0px 30px #979CA3;
    border-radius: 20px;
    width: 100%;
}



.ant-modal-body{
    // background: #FFFFFF;
    box-shadow: 0px 0px 30px #979CA3;
    border-radius: 20px;
}

.ant-modal-body.cleaningModal{
    width: 585px !important;
  top: -110px;
  margin-bottom: 100px;
//   border-radius: 20px;
  
}

.ant-checkbox-inner,
.ant-checkbox-inner:hover,
.ant-checkbox-inner:focus{
    border: 1.5px solid #F2600D;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(255, 117, 39, 0.5);
    border-radius: 5px;
    width: 30px;
    height: 30px;
}



.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner:hover,
.ant-checkbox-checked .ant-checkbox-inner:focus{
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border: 1.5px solid #F2600D !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(255, 117, 39, 0.5);
    border-radius: 5px;
}   
.ant-checkbox-checked .ant-checkbox-inner:after {
    width: 10px;
    height: 21px;
    border-color: #F2600D !important;
    
    
  }

.button-cleaning-cancel{
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    // display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0066FF;
    border: 0px;
    width: 201px;
    height: 43px;
    margin-right:10px;
    justify-content: flex-end;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.button-cleaning-cancel:hover{
    color: #0066FF;
    border-radius: 5px;
    border: 1px #0066FF solid;
}


.button-complete:disabled{
    width: 201px;
    height: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    // display: flex;
    align-items: center;
    text-align: center;
    float:left;
    margin-left:10px;
    // margin-right:10px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #E5E5E5;
    border-radius: 5px;
    justify-content: center;
   

}

.button-complete,
.button-complete:hover{
    width: 201px;
    height: 43px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    float:left;
    margin-left:10px;
    // margin-right:10px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #0066FF;
    border: 1px #0066FF solid;
    border-radius: 5px;
    justify-content: center;
}

//added styles from cleaning modal
.cleaning-header{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0066FF;
}

.cleaning-subHeader{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.cleaning-gate{
    font-weight: bold;
    font-size: 50px;
    line-height: 35px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 12px;
}

.cleaning-colHeader {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    padding: 0 23px;
    // margin-left: 23px;
    // margin-right: auto;
}

.cleaning-divider1{
    width: 473px;
    border: 2px solid #0066FF;
    margin: 0;
}

.cleaning-divider2{
    width: 473px;
    border: 0.5px solid #0066FF;
    margin: 0;
}

.cleaning-row {
    margin-top: 12px;
    margin-bottom: 12px;
}

.cleaning-colText{
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cleaning-buttonRow{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

//media
@media only screen and (max-width: 720px) {

    .cleaning-modal{
        width: 85% !important;
    }

    .cleaning-divider1{
        width: 100%;
    }

    .cleaning-divider2{
        width: 100%;
    }
    
    .button-cleaning-cancel, 
    .button-complete {
        width: 100%;
        font-size: 20px;
    }

}

@media only screen and (max-width: 520px) {
    

    .cleaning-modal{
        width: 85% !important;
    }

    .cleaning-header, 
    .cleaning-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .cleaning-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .cleaning-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .cleaning-colText{
        font-size: 13px;
    }

    .cleaning-divider1{
        width: 100%;
    }

    .cleaning-divider2{
        width: 100%;
    }

    .cleaning-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .button-cleaning-cancel, 
    .button-complete,
    .button-complete:hover,
    .button-complete:disabled{
        width: 100%;
        font-size: 13px;
    }

}

@media only screen and (max-width: 424px) {
    

    .cleaning-modal{
        width: 85% !important;
    }

    .cleaning-header, 
    .cleaning-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .cleaning-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .cleaning-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .cleaning-colText{
        font-size: 13px;
    }

    .cleaning-divider1{
        width: 100%;
    }

    .cleaning-divider2{
        width: 100%;
    }

    .cleaning-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .button-cleaning-cancel, 
    .button-complete,
    .button-complete:hover,
    .button-complete:disabled{
        width: 100%;
        font-size: 13px;
    }

}

@media only screen and (max-width: 375px) {
    

    .cleaning-modal{
        width: 85% !important;
    }

    .cleaning-header, 
    .cleaning-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .cleaning-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .cleaning-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .cleaning-colText{
        font-size: 13px;
    }

    .cleaning-divider1{
        width: 100%;
    }

    .cleaning-divider2{
        width: 100%;
    }

    .cleaning-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .button-cleaning-cancel, 
    .button-complete,
    .button-complete:hover,
    .button-complete:disabled{
        width: 100%;
        font-size: 13px;
    }

}

@media only screen and (max-width: 360px) {
    

    .cleaning-modal{
        width: 85% !important;
    }

    .cleaning-header, 
    .cleaning-subHeader{
        font-size: 20px;
        line-height: 30px;
    }

    .cleaning-gate{
        font-size: 27px;
        line-height: 27px;
        margin-top: 5px;
    }

    .cleaning-colHeader {
        font-size: 13px;
        padding: 0;
    }

    .cleaning-colText{
        font-size: 13px;
    }

    .cleaning-divider1{
        width: 100%;
    }

    .cleaning-divider2{
        width: 100%;
    }

    .cleaning-row {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .button-cleaning-cancel, 
    .button-complete,
    .button-complete:hover,
    .button-complete:disabled{
        width: 100%;
        font-size: 13px;
    }

}