/** GMC Wrapper **/
.Appbar {
    padding:10px 20px 10px 20px !important;
}

.Appbar .ant-input-search-icon {
    color:#A6A6A6;
}
.Appbar .anticon-search{
    color:#A6A6A6;
}
.Appbar .ant-input-suffix{
    background: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 3px
}
.Appbar .anticon-caret-down{
    color: #000000
}

/** GMC Content **/
.gmc-main-content {
    top: 71px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
    max-width: 720px;
}

.gmc-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #C7A481;
    text-shadow: 0px 4px 10px #000000;
}



/** Search Input **/
.ant-input-affix-wrapper {
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #979CA3;
    border-radius: 3px;
}
.ant-input-affix-wrapper > input.ant-input {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
}




/**Radio Button **/
.ant-radio-button-wrapper {
    color: #83878D;
    /* font-family: Roboto; */
    font-style: normal;
    font-size: 12px;
    height: 38px;
    /* letter-spacing: 0.1em; */
    line-height: 36px;
    text-align: center;
    width: 109px;    
}

/* added styles */
.ant-radio-button-wrapper{
    height: 30px;
    line-height: 30px;
    /* padding: 0 15px; */
    padding: 0;
    width: 84px;
}


.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    background: #f0f4fa !important;
    color: #0066FF;
}

.ant-radio-button-wrapper .ant-radio-button-wrapper-checked{
    border: none;
}

.ant-radio-button-wrapper:hover{
    color: #0066FF;
}

/* checked */
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: #f0f4fa !important;
    /* color: #83878D; */
    color: #0066FF;
    border-color: transparent;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::after{
    content:'\25BC';
    padding-left: 1px;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
    box-shadow: 0 0 0 0 rgba(79, 80, 116, 0.0);
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    /* color: #83878D; */
    color: #0066FF;
    border-right-color: #f0f4fa;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    border-right-color: transparent;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
    border-color: #f0f4fa;
}

.ant-radio-button-wrapper:first-child{
    border: none;
}

.ant-radio-button-wrapper:not(:first-child)::before{
    background-color: transparent;
    width: 0px;
}

/* .ant-radio-button-wrapper:not(:first-child)::after{
    content:'\25BA';
} */

.ant-radio-button-wrapper:nth-child(3){
    width: 57px;
}

.ant-radio-button-wrapper:nth-child(6){
    width: 109px;
}

.ant-radio-button-wrapper:nth-child(7){
    width: 160px;
}

/* .ant-radio-button-wrapper .ant-radio-button-wrapper-checked::after{
    content:'\25BA';
} */


.ant-btn.gmc-pb {
    max-width: 130px;
    width: 100%;
    padding: 6px;
    text-align: center;
}

.ant-card-body {
    padding: 24px;
    min-width: 182px;
}


.ant-collapse {
    border:none;
}
.ant-collapse-header {
    background-color: #4F5074;
    color: #fff !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

/* select style  */
/* .ant-collapse-content-box {
    background: rgba(79, 80, 116, 0.5);
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
} */


.ant-select-dropdown {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.55);
    /* border: 1px solid #979CA3; */
    border-radius: 0px 0px 10px 10px;
    /* max-width: 208px; */
    padding: 0;
    color: #000;
    /* firefox */
    scrollbar-color: #ccc #eee;
    scrollbar-width: thin;
}


/* .ant-select-item-group {
    display: none;
} */

.ant-select-item{
    font-size: 15px;
    line-height: 26px;
    font-family: 'Roboto';
}


.ant-select-item.ant-select-item-option.ant-select-item-option-grouped {
    border-bottom: 0.5px solid #C4C4C4;
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 0.8em;
    padding: 15px 0;
    line-height: 24px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #000;
    font-weight: 600;
    background-color: white !important;
}

.ant-select-arrow{
    color: #000;
}
/* select style  */



.ant-checkbox-group.label-group span {
    color: white;
}


.visibility-false {
    display:none;
}

.secondary-filter span.ant-checkbox {
    display: none;
}



label.ant-checkbox-group-item.ant-checkbox-wrapper {

    min-width: 60px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    height: 35px;
}

label.ant-checkbox-group-item.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
    background: #896E53;
    box-shadow: 0px 5px 5px #000000;
    border-radius: 15px;
    min-width: 60px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    height: 35px;
}

label.ant-checkbox-group-item.ant-checkbox-wrapper {
    margin-bottom: 10px;
}

.menu-quick-search .ant-radio {
    display: none;
}

.menu-quick-search label.ant-radio-wrapper {
    /* margin-bottom: 10px; */
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    margin-right: 0px;
}

.menu-quick-search li.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
    padding: 0px;
}


.qsSearch span.anticon.anticon-search.ant-input-search-icon {
    display: none;
}

.ant-dropdown.qsSearchDropdown.ant-dropdown-placement-bottomLeft {
    position: fixed;
}

.menu-quick-search label.ant-radio-wrapper.ant-radio-wrapper-checked {
    background: rgba(83, 137, 242, 0.3);
}



.menu-quick-search.ant-dropdown-menu {
    background-color: transparent;
}

.menu-quick-search .ant-radio-group {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}



.menu-quick-search .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: transparent;
}


.collapse-description .ant-collapse-content-box {
    background: #4F5074;
}
.collapse-description .ant-collapse-content {
    border-top: #4F5074;
    background: #4F5074;
}

@media only screen and (max-width: 667px) {
    .ant-radio-button-wrapper{
        width: 64px;
    }

    .ant-radio-button-wrapper:nth-child(2){
        width: 86px;
    }

    .ant-radio-button-wrapper:nth-child(4){
        width: 76px;
    }

    .ant-radio-button-wrapper:nth-child(5){
        width: 81px;
    }

    .ant-radio-button-wrapper:nth-child(6) {
        width: 100px;
    }

    .ant-radio-button-wrapper:nth-child(7) {
        width: 134px;
    }


}