.modal-divider {
    width: 504px;
    border: 0.3px solid #C4C4C4;
    margin: 5px 10px 5px 0px;
}

.vDivider {
    height: 37px;
    width: 1px;
    border: 0.5px solid rgba(51, 57, 64, 0.5);
}

.term-complete, 
.term {
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #434343;
    padding-right: 20px;
}

.term-date{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #979CA3;
    padding-right: 20px;
}

.box{
    background-color: #fff;
    width: 585px;
    height: 69px;
    text-align: center;
    margin: 5px -40px 5px -40px;
}

.tableHeader{
    text-align: center;
    margin: 5px -40px 5px -35px !important;
}

.colHeader{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #83878d;
    padding: 0;
}

.tableText{
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #434343;
    text-align: center;
}

.colText {
    font-size: 10px;
    line-height: 12px;
}

.colUpperText {
    font-size: 16px;
    line-height: 19px;
}

.boldText{
    letter-spacing: 0.05em;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin: 0;
    padding: 0;
    display: inline;
}

.modalInputSelect {
    color: #434343;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
    width: 208px;
    border: 2px solid #979CA3;
    mix-blend-mode: normal;
    border-radius: 3px;
    text-align: left;
    background-color: #fff;
}

.info-icon-col{
    display: flex;
    justify-content: space-between;
}

.info-icon-arr, .info-icon-dep{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 15px;
    width: 53px;
    height: 53px;
}

.info-icon-arr{
    background-color: #5348FF;
    width: 6px;
    height: 51px;
}

.info-arr-img{
    margin: auto 0;
    position: relative;
    top: 15px;
    width: 53px;
    height: 53px;
}

.btn-available-infomodal,
.btn-available-infomodal:hover,
.btn-available-infomodal:focus, 
.btn-available-infomodal:disabled,
.btn-available-infomodal[disabled]:hover {
  top: 0px;
  background: #F2600D;
  box-sizing: border-box;
  border: 2px solid #F2600D;
  border-radius: 5px;
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: #FFFFFF;
  width: 141px;
  height: 30px;
  margin-top: 23px;
  margin-bottom: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float:left;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
}

.btn-cleannow-infomodal,
.btn-cleannow-infomodal:hover,
.btn-cleannow-infomodal:focus, 
.btn-cleannow-infomodal:disabled,
.btn-cleannow-infomodal[disabled]:hover {
  top: 0px;
  background: #434343;
  box-sizing: border-box;
  border: 2px solid #434343;
  border-radius: 5px;
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: #FFFFFF;
  width: 141px;
  height: 30px;
  margin-top: 23px;
  margin-bottom: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float:left;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
}

.btn-cleaning-infomodal,
.btn-cleaning-infomodal:hover,
.btn-cleaning-infomodal:focus,
.btn-cleaning-infomodal:disabled,
.btn-cleaning-infomodal[disabled]:hover {
  top: 0px;
  background: #0066FF;
  box-sizing: border-box;
  border: 2px solid #0066FF;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: #FFFFFF;
  width: 141px;
  height: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float:left;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: center;
}

.btn-unavail-infomodal,
.btn-unavail-infomodal:hover,
.btn-unavail-infomodal:focus,
.btn-unavail-infomodal:disabled,
.btn-unavail-infomodal[disabled]:hover {
    top: 0px;
    background: #E5E5E5;
    box-sizing: border-box;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    
  
  /* Gray Shadow */
  /* box-shadow: 0px 0px 6px #47486A; */

  color: #000;
  width: 141px;
  height: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float:left;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  align-content: space-between;
  justify-content: center;
}

.input-box {
    width: 208px;
    height: 31px;
    background-color: #fff;
    color: #979CA3;
}

.term {
    text-align: left;
    padding-left: 40px;
}

//mobile
.box-mobile{
    width: 100%;
    position: absolute;
    left: 0px;
    height: 82px;
    background-color: #fff;
    display: none;
}

.modal-last-item2 {
    display: none;
}

//media query
@media only screen and (max-width: 720px) {
    .box {
       display: none;
    }

    .box-mobile{
        display: flex;
        height: 66px;
    }

    .box-mobile-after{
        margin-top: 100px;
    }

    .colUpperText{
        font-size: 14px;
    }

    // .btn-available-infomodal,
    // .btn-cleaning-infomodal,
    // .btn-unavail-infomodal {
    //     width: 96% !important;
    //     padding: 8.1px 4px;
    // }

    .modal-divider{
        width: 100%;
    }

    .modalInputSelect, 
    .input-box {
        width: 100%;
    }

    .term-complete, 
    .term,
    .term-date {
        padding-right: 0;
    }

    .info-icon-arr, .info-icon-dep{
        top: 8px;
    }

}

@media only screen and (max-width: 520px) {
    .box {
       display: none;
    }

    .box-mobile{
        display: flex;
        height: 82px;
    }

    .box-mobile-after{
        margin-top: 100px;
    }

    .colHeader{
        font-size: 10px;
    }

    .colUpperText{
        font-size: 9px;
    }

    .colText {
        font-size: 9px; 
    }

    .boldText{
        font-size: 12px;
    }

    .btn-available-infomodal,
    .btn-cleaning-infomodal,
    .btn-unavail-infomodal,
    .btn-cleannow-infomodal{
        width: 96% !important;
        padding: 8.1px 4px;
        font-size: 12px !important;
    }

    .modal-divider{
        width: 100%;
    }

    .modalInputSelect, 
    .input-box {
        width: 100%;
    }

    .term-complete, 
    .term,
    .term-date {
        padding-right: 0;
        text-align: center !important;
    }

    .term-complete, .term{
        font-size: 13px;
        padding-left: 0;
    }

    .term-date{
        font-size: 10px;
    }

    .input-box > input.ant-input{
        font-size: 10px !important;
    }

    .modalInputSelect > input.ant-input{
        font-size: 10px !important;
    }

    .modal-last-item1 {
        display: none;
    }

    .modal-last-item2 {
        display: flex;
    }

}

@media only screen and (max-width: 424px) {
    .box {
       display: none;
    }

    .box-mobile{
        display: flex;
        height: 82px;
    }

    .box-mobile-after{
        margin-top: 100px;
    }

    .colHeader{
        font-size: 10px;
    }

    .colUpperText{
        font-size: 9px;
    }

    .colText {
        font-size: 9px; 
    }

    .boldText{
        font-size: 12px;
    }

    .btn-available-infomodal,
    .btn-cleaning-infomodal,
    .btn-unavail-infomodal,
    .btn-cleannow-infomodal {
        width: 96% !important;
        padding: 8.1px 4px;
        font-size: 12px !important;
    }

    .modal-divider{
        width: 100%;
    }

    .modalInputSelect, 
    .input-box {
        width: 100%;
    }

    .term-complete, 
    .term,
    .term-date {
        padding-right: 0;
        text-align: center !important;
    }

    .term-complete, .term{
        font-size: 13px;
        padding-left: 0;
    }

    .term-date{
        font-size: 10px;
    }

    .input-box > input.ant-input{
        font-size: 10px !important;
    }

    .modalInputSelect > input.ant-input{
        font-size: 10px !important;
    }

    .modal-last-item1 {
        display: none;
    }

    .modal-last-item2 {
        display: flex;
    }

}

@media only screen and (max-width: 375px) {
    .box {
       display: none;
    }

    .box-mobile{
        display: flex;
        height: 82px;
    }

    .box-mobile-after{
        margin-top: 100px;
    }

    .colHeader{
        font-size: 10px;
    }

    .colUpperText{
        font-size: 9px;
    }

    .colText {
        font-size: 9px; 
    }

    .boldText{
        font-size: 12px;
    }

    .btn-available-infomodal,
    .btn-cleaning-infomodal,
    .btn-unavail-infomodal,
    .btn-cleannow-infomodal {
        width: 96% !important;
        padding: 8.1px 4px;
        font-size: 12px !important;
    }

    .modal-divider{
        width: 100%;
    }

    .modalInputSelect, 
    .input-box {
        width: 100%;
    }

    .term-complete, 
    .term,
    .term-date {
        padding-right: 0;
        text-align: center !important;
    }

    .term-complete, .term{
        font-size: 13px;
        padding-left: 0;
    }

    .term-date{
        font-size: 10px;
    }

    .input-box > input.ant-input{
        font-size: 10px !important;
    }

    .modalInputSelect > input.ant-input{
        font-size: 10px !important;
    }

    .modal-last-item1 {
        display: none;
    }

    .modal-last-item2 {
        display: flex;
    }

}

@media only screen and (max-width: 360px) {
    .box {
       display: none;
    }

    .box-mobile{
        display: flex;
        height: 82px;
    }

    .box-mobile-after{
        margin-top: 100px;
    }

    .colHeader{
        font-size: 10px;
    }

    .colUpperText{
        font-size: 9px;
    }

    .colText {
        font-size: 9px; 
    }

    .boldText{
        font-size: 12px;
    }

    .btn-available-infomodal,
    .btn-cleaning-infomodal,
    .btn-unavail-infomodal,
    .btn-cleannow-infomodal {
        width: 96% !important;
        padding: 8.1px 4px;
        font-size: 12px !important;
    }

    .modal-divider{
        width: 100%;
    }

    .modalInputSelect, 
    .input-box {
        width: 100%;
    }

    .term-complete, 
    .term,
    .term-date {
        padding-right: 0;
        text-align: center !important;
    }

    .term-complete, .term{
        font-size: 13px;
        padding-left: 0;
    }

    .term-date{
        font-size: 10px;
    }

    .input-box > input.ant-input{
        font-size: 10px !important;
    }

    .modalInputSelect > input.ant-input{
        font-size: 10px !important;
    }

    .modal-last-item1 {
        display: none;
    }

    .modal-last-item2 {
        display: flex;
    }

}