//colors
.color-white{
    color: #fff;
}

.container {
    min-height: 100vh;
    // padding: 203px 20px 30px 20px;
    padding: 225px 20px 30px 20px;
}

.headerDivider {
    background-color: rgba(51,57,64, 0.5);
    height: 20px,
}

.divider{
    background-color: rgba(51,57,64, 0.5);
    height: 37px;
    text-align: center;
    margin: 0;
}

.filterText {
    width: 208px;
    color: #000;
    font-size: 16px;
    text-align: left;
    margin-bottom: 6px;
    letter-spacing: 0.05em;
}

.subRow {
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #434343;
}

.subRow2 {
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #434343;
}

.filterRow {
    // margin: 30px 0px 10px 15px;
    margin: 30px auto 10px auto;
    font-size: 16px;
}

.headerRow {
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #83878D;
    // margin-left: 15px;
    position: fixed;
    width: 100%;
    max-width: 720px;
    top: 157px;
    z-index: 8;
    margin: le;
    margin-left: 0;
    padding: 17px 24px 10px 31px;
    background: rgb(240, 244, 250);
}

.row {
    // width: 633px;
    width: 658px;
    height: 69px;
    display: flex;
    align-items: center;
    color: #434343;
    margin: 0 auto 10px auto;
    // margin: "0px 0px 10px 15px"
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.row-priority {
    box-shadow: 0px 0px 5px 5px rgba(83, 72, 255, 0.25);
}

//select
.select {
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
    border: 2px solid #979CA3;
    mix-blend-mode: normal;
    border-radius: 3px;
    color: #000000;
}

.select:hover{
    // border-color: #6b6c80;
    border-color: rgba(107, 108, 128, 0.50);
}

.terminal-select {
    width: 80px;
    margin-right: 6px;
}

.terminal-locked .ant-select-arrow{
    color: rgba(0,0,0, 0.25);
}

.callSign-select {
    width: 150px
}

.status-select {
    width: 208px;
}

.search {
    width: 208px;
    padding: 5px;
}

.info-img {
    margin-right: 5px;
    position: relative;
    top: -2px;
    width: 15px;
}

.info-profile {
    margin-right: 10px;
    position: relative;
    top: -2px;
    width: 15px;
}

.btn-profile {
    padding-left: 0;
    color: #000;
}


//row border
.arr-border {
    background-color: #5348FF;
    width: 4.5px;
    height: 100%;
}

.dep-border {
    background-color: #FFB928;
    width: 4.5px;
    height: 100%;
}

//icon
.dep_icon, .arr_icon{
    width: 58px;
    margin-top: 10px;
}


//button status
.col-btn{
    padding-left: 7px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
}

.btn {
    width: 141px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 14px;
}

.btn-caret{
    padding: 0;
    width: 9px;
    height: 6px;
    align-items: flex-end;
}


//available status
.btn-available{
    border: 2px solid #F2600D;
    background-color: #F2600D;
    color: #fff;
    box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
}

.btn-available:hover, 
.btn-available:focus, 
.btn-available:active {
    background-color: #F2600D;
    color: #fff;
    border: 2px solid #F2600D;
}

.btn-cleanedNow{
    border: 2px solid #434343;
    background-color: #434343;
    color: #fff;
    box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
}

.btn-cleanedNow:hover, 
.btn-cleanedNow:focus, 
.btn-cleanedNow:active {
    background-color: #434343;
    color: #fff;
    border: 2px solid #434343;
}

//cleaning status
.btn-cleaning{
    border: 2px solid #0066FF;
    background-color: #0066FF;
    color: #fff;
    box-shadow: 4px 4px 5px rgba(67, 67, 67, 0.3);
}

.btn-cleaning:hover,
.btn-cleaning:focus,
.btn-cleaning:active{
    background-color: #0066FF;
    color: #fff;
    border: 2px solid #0066FF;
}

//notAvailable status
.btn-notAvailable{
    border: 2px solid #E5E5E5;
    background-color: #E5E5E5;
    color: #434343;
}

.btn-notAvailable:hover,
.btn-notAvailable:focus,
.btn-notAvailable:active{
    background-color: #E5E5E5;
    color: #434343;
    border: 2px solid #E5E5E5;
}

.ant-popover-inner-content{
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
}

.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
    border-right-color: rgba(0, 0, 0, 0.85);;
    border-bottom-color:  rgba(0, 0, 0, 0.85);;
}


//cleaned status
.row-complete{
    padding-left: 15px;
}

.row-complete-time{
    padding-left: 15px;
    font-size: 10px;
    color: #979CA3
}

.date_text {
    font-size: 10px;
    color: #979CA3;
}


//footer
.footer {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.footer_img {
    // width: 200px;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.arr-span2 {
    display: none;
}

//added these for the alert
.alert_notice {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 50vh;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.alert_error{
    width: 98%;
}

.ant-alert-error{
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 20px #5389F2;
    border-radius: 10px;
}

.ant-alert {
    font-weight: 700;
    text-align: center;
}

.ant-alert-message{
    color: #EE252F;
}


//media query
@media only screen and (max-width: 720px) {

    .container {
        width: 100%;
        // padding: 390px 20px 30px 20px;
    }

    .row {
        width: 100%;
    }

    .btn{
        width: 133px;
        margin-left: 3px;
    }

}

@media only screen and (max-width: 667px) {

    .btn{
        width: 120px;
        margin-left: 3px;
    }

}

//media query
@media only screen and (max-width: 520px) {

    .headerRow{
        top: 186px;
        // padding: 30px 19px 25px 19px;
        padding: 12px 19px 12px 25px;
    }

    .container {
        width: 100%;
        padding: 248px 20px 30px 20px;
    }

    .filterRow {
        margin: 16px auto 10px auto;
        font-size: 16px;
    }

    .row {
        width: 100%;
    }

    .hide-info {
        display: none !important;
    }

    .ant-btn-link{
        font-size: 14px;
        padding: 3.2px 20px;
        margin-bottom: 10px;
    }

    .btn-profile{
        padding-left: 0;
    }

    .filterText {
        font-size: 13px;
    }

    .terminal-select {
        width: 67px;
        font-size: 10px;
    }

    .callSign-select {
        width: 91px;
        font-size: 10px;
    }

    .status-select {
        font-size: 10px;
    }

    .ant-select-item {
        font-size: 12px;
    }

    .btn{
        width: 100%;
        padding: 0 2px;
        margin-left: 3px;
    }

    .dep-border, .arr-border {
        margin-right: 3px;
    }

    .btn > span {
        font-size: 2.1vw;
    }

    .btn-available > span {
        letter-spacing: -0.25px;
    }

    .btn-cleaning > span {
        letter-spacing: -0.10px;
    }

    .btn-cleanedNow > span {
        font-size: 1.8vw;
        letter-spacing: -0.18px;
    }

    .btn-caret{
        display: none !important;
    }

    .mobile_text{
        font-size: 10px;
    }

    .mobile_text2{
        font-size: 8px;
        letter-spacing: 0.5px;
    }

    .date_text {
        font-size: 8px;
        color: #979CA3;
    }

    .dep_icon, .arr_icon{
        width: 30px;
        margin-left: -2px;
    }
    

    .subRow{
        font-size: 8px;
    }

    .row-complete{
        font-size: 9px;
        padding-left: 5px;
    }
    
    .row-complete-time{
        font-size: 8px;
        padding-left: 5px;
    }

    .footer_img {
        width: 100%;
        height: auto;
    }

    .arr-span1 {
        display: none;
    }

    .arr-span2 {
        display: flex;
    }

    .search > input.ant-input {
        font-size: 13px;
    }


}

//media query
@media only screen and (max-width: 424px) {

    .headerRow{
        top: 186px;
        // padding: 30px 19px 25px 19px;
        padding: 12px 19px 12px 25px;
    }

    .container {
        width: 100%;
        padding: 248px 20px 30px 20px;
    }

    .filterRow {
        margin: 16px auto 10px auto;
        font-size: 16px;
    }

    .row {
        width: 100%;
    }

    .hide-info {
        display: none !important;
    }

    .ant-btn-link{
        font-size: 14px;
        padding: 3.2px 20px;
        margin-bottom: 10px;
    }

    .btn-profile{
        padding-left: 0;
    }

    .filterText {
        font-size: 13px;
    }

    .terminal-select {
        width: 67px;
        font-size: 10px;
    }

    .callSign-select {
        width: 91px;
        font-size: 10px;
    }

    .status-select {
        font-size: 10px;
    }

    .ant-select-item {
        font-size: 12px;
    }

    .btn{
        width: 100%;
        padding: 0 2px;
        margin-left: 3px;
    }

    .dep-border, .arr-border {
        margin-right: 3px;
    }

    .btn > span {
        font-size: 2.1vw;
    }

    .btn-available > span {
        letter-spacing: -0.25px;
    }

    .btn-cleaning > span {
        letter-spacing: -0.10px;
    }

    .btn-cleanedNow > span {
        font-size: 1.8vw;
        letter-spacing: -0.18px;
    }

    .btn-caret{
        display: none !important;
    }

    .mobile_text{
        font-size: 10px;
    }

    .mobile_text2{
        font-size: 8px;
        letter-spacing: 0.5px;
    }

    .date_text {
        font-size: 8px;
        color: #979CA3;
    }

    .dep_icon, .arr_icon{
        width: 30px;
        margin-left: -2px;
    }
    

    .subRow{
        font-size: 8px;
    }

    .row-complete{
        font-size: 9px;
        padding-left: 5px;
    }
    
    .row-complete-time{
        font-size: 8px;
        padding-left: 5px;
    }

    .footer_img {
        width: 100%;
        height: auto;
    }

    .arr-span1 {
        display: none;
    }

    .arr-span2 {
        display: flex;
    }

    .search > input.ant-input {
        font-size: 13px;
    }


}

//media query
@media only screen and (max-width: 375px) {

    .headerRow{
        top: 185px;
        // padding: 30px 19px 25px 19px;
        padding: 12px 19px 12px 25px;
    }

    .filterRow {
        margin: 16px auto 10px auto;
        font-size: 16px;
    }

    .container {
        width: 100%;
        padding: 248px 20px 30px 20px;
    }

    .row {
        width: 100%;
    }

    .hide-info {
        display: none !important;
    }

    .ant-btn-link{
        font-size: 14px;
        padding: 3.2px 20px;
        margin-bottom: 10px;
    }

    .btn-profile{
        padding-left: 0;
    }

    .filterText {
        font-size: 13px;
    }

    .terminal-select {
        width: 67px;
        font-size: 10px;
    }

    .callSign-select {
        width: 91px;
        font-size: 10px;
    }

    .status-select {
        font-size: 10px;
    }

    .ant-select-item {
        font-size: 12px;
    }

    .btn{
        width: 100%;
        padding: 0 2px;
        margin-left: 3px;
    }

    .dep-border, .arr-border {
        margin-right: 1px;
    }

    .btn > span {
        font-size: 2vw;
    }

    .btn-available > span {
        letter-spacing: -0.25px;
    }

    .btn-cleaning > span {
        letter-spacing: -0.10px;
    }

    .btn-cleanedNow > span {
        font-size: 1.8vw;
        letter-spacing: -0.18px;
    }

    .btn-caret{
        display: none !important;
    }

    .mobile_text{
        font-size: 10px;
    }

    .mobile_text2{
        font-size: 8px;
        letter-spacing: 0.5px;
    }

    .date_text {
        font-size: 8px;
        color: #979CA3;
    }

    .dep_icon, .arr_icon{
        width: 30px;
        margin-left: -2px;
    }
    

    .subRow{
        font-size: 8px;
    }

    .row-complete{
        font-size: 9px;
        padding-left: 5px;
    }
    
    .row-complete-time{
        font-size: 8px;
        padding-left: 5px;
    }

    .footer_img {
        width: 100%;
        height: auto;
    }

    .arr-span1 {
        display: none;
    }

    .arr-span2 {
        display: flex;
    }

    .search > input.ant-input {
        font-size: 13px;
    }

}



//media query
@media only screen and (max-width: 360px) {

    .headerRow{
        top: 185px;
        // padding: 30px 19px 25px 19px;
        padding: 12px 19px 12px 25px;
    }

    .filterRow {
        margin: 16px auto 10px auto;
        font-size: 16px;
    }

    .container {
        width: 100%;
        padding: 248px 20px 30px 20px;
    }

    .row {
        width: 100%;
    }

    .hide-info {
        display: none !important;
    }

    .ant-btn-link{
        font-size: 14px;
        padding: 3.2px 20px;
        margin-bottom: 10px;
    }

    .btn-profile{
        padding-left: 0;
    }

    .filterText {
        font-size: 13px;
    }

    .terminal-select {
        width: 67px;
        font-size: 10px;
    }

    .callSign-select {
        width: 91px;
        font-size: 10px;
    }

    .status-select {
        font-size: 10px;
    }

    .ant-select-item {
        font-size: 12px;
    }

    .btn{
        width: 100%;
        padding: 0 2px;
        margin-left: 3px;
    }

    .dep-border, .arr-border {
        margin-right: 1px;
    }

    .btn > span {
        font-size: 2vw;
    }

    .btn-available > span {
        letter-spacing: -0.25px;
    }

    .btn-cleaning > span {
        letter-spacing: -0.10px;
    }

    .btn-cleanedNow > span {
        font-size: 1.8vw;
        letter-spacing: -0.18px;
    }

    .btn-caret{
        display: none !important;
    }

    .mobile_text{
        font-size: 10px;
    }

    .mobile_text2{
        font-size: 8px;
        letter-spacing: 0.5px;
    }

    .date_text {
        font-size: 8px;
        color: #979CA3;
    }

    .dep_icon, .arr_icon{
        width: 30px;
        margin-left: -2px;
    }
    

    .subRow{
        font-size: 8px;
    }

    .row-complete{
        font-size: 9px;
        padding-left: 5px;
    }
    
    .row-complete-time{
        font-size: 8px;
        padding-left: 5px;
    }

    .footer_img {
        width: 100%;
        height: auto;
    }

    .arr-span1 {
        display: none;
    }

    .arr-span2 {
        display: flex;
    }

    .search > input.ant-input {
        font-size: 13px;
    }


}

@media only screen and (max-width: 320px) {

    .headerRow{
        top: 258px;
    }

    .container {
        width: 100%;
        padding: 410px 20px 30px 20px;
    }

    .row {
        width: 100%;
    }

    .btn{
        width: 100%;
        padding: 0 2px;
        margin-left: 3px;
    }

    .dep-border, .arr-border {
        margin-right: 1px;
    }

    .btn > span {
        font-size: 1.8vw;
    }

    .btn-cleanedNow > span {
        font-size: 1.8vw;
    }

    .btn-caret{
        display: none !important;
    }

    .mobile_text{
        font-size: 10px;
    }

    .dep_icon, .arr_icon{
        width: 32px;
        margin-left: -4px;
    }

    .subRow{
        font-size: 9px;
    }

    .row-complete{
        font-size: 9px;
        // padding-left: 9px;
    }
    
    .row-complete-time{
        font-size: 8px;
        // padding-left: 9px;
    }

    .footer_img {
        width: 100%;
        height: auto;
    }
    

}